body {
  background-color: rgb(146, 166, 202);
  font-family: sans-serif;
  background-image: url("media/abstract-acrylic.jpg");
  background-size: 130%;
}

h1 {
  padding-bottom: 0px;
  font-size: 40pt;
  color: black;
}

ul {
  list-style: none;
  text-align: left;
  padding-left: 0rem;
}

input {
  border-radius: 10px;
  border-color: black;
  padding: 5px;
  margin-bottom: 50px;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: rgb(1, 60, 102);
}

strong {
  font-family: American Typewriter;
}

.weatherApp {
  border-radius: 25px;
  border: 5px solid black;
  background-color: peru;
  background-image: linear-gradient(
    to left,
    rgb(250, 211, 162),
    rgba(247, 148, 0, 0.904)
  );
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 600px;
  margin: 100px auto;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}

#target-city {
  font-family: American Typewriter;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), 7px 7px 0px rgba(0, 0, 0, 0.05);
}

#main-temperature {
  text-align: right;
  right: 1%;
  font-size: 40pt;
  font-family: American Typewriter;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}

#units {
  position: relative;
  font-size: 15pt;
  top: -22px;
}

.active {
  color: black;
  font-style: bolder;
}

#weather-icon {
  line-height: 1.5cm;
  text-align: center;
  max-width: 40%;
}

#current-date {
  margin-top: 0px;
  font-size: 15pt;
  margin-bottom: 0px;
}

#current-atmosphere {
  text-transform: capitalize;
  font-size: 15pt;
}

.go {
  background-color: rgb(250, 140, 36);
}

.weekForecast {
  display: block;
  margin: 0px auto;
  font-size: 12pt;
  text-align: center;
}

.forecastDays {
  position: relative;
  right: -10pt;
  border: 2px solid black;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 3%;
  background-color: rgb(146, 166, 202);
  background-image: linear-gradient(
    to right,
    rgb(19, 116, 177),
    rgb(151, 180, 238)
  );
  opacity: 0.9;
  padding: 5px;
}

#icon-day-one,
#icon-day-two,
#icon-day-three,
#icon-day-four,
#icon-day-five {
  max-width: 80%;
}

.minimum {
  color: rgb(1, 61, 104);
  font-size: 11pt;
}

.contact {
  text-align: center;
  margin: 0px auto;
  display: block;
  font-size: 15px;
}
