body {
  background-color: rgb(146, 166, 202);
}

ul {
  list-style: none;
  text-align: left;
  padding-left: 0rem;
}

.weatherApp {
  border-radius: 25px;
  border: 3px solid black;
  background-color: peru;
  background-image: linear-gradient(to left, rgb(238, 187, 124), peru);
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 600px;
  margin: 100px auto;
}

a {
  text-decoration: none;
  color: black;
}

#main-temperature {
  text-align: right;
  right: 1%;
  font-size: 40pt;
}

#units {
  position: relative;
  font-size: 16pt;
  top: -22px;
}

#weather-icon {
  line-height: 1.5cm;
  text-align: center;
  max-width: 40%;
}

h1 {
  padding-bottom: 8px;
}

#current-date {
  font-size: 20pt;
  margin-bottom: 0px;
}

#current-atmosphere {
  text-transform: capitalize;
  font-size: 15pt;
}

input {
  border-radius: 10px;
  border-color: black;
  padding: 5px;
  margin-bottom: 50px;
}

.go {
  background-color: rgb(235, 160, 86);
}

.weekForecast {
  display: block;
  margin-top: 0px auto;
  font-size: 12pt;
  text-align: center;
  padding: 25px;
  margin-left: 40px;
  margin-right: 40px;
}

.contact {
  text-align: center;
  margin: 0px auto;
  display: block;
  font-size: 15px;
}
